# SPDX-FileCopyrightText: Copyright (c) 2016-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: reserved
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  reserved:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 23
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ubuntu-surefire-jdk-23-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ubuntu-surefire-jdk-23-maven-
      - run: |
          mvn clean install -Preserved --errors --batch-mode
